doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='URBANIA - Urban, Modern Hardwood Flooring')
    meta(name='author', content= "Adam Zmenak <adam.zmenak@gmail.com>")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title URBANIA
    link(rel="icon", type="image/ico", href="/img/favicon.ico")
    if PROD
      link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
      link(rel="stylesheet", href="//cdn.jsdelivr.net/hint.css/1.3.2/hint.min.css")
      each css in stylesheets
        link(rel="stylesheet", href='/css/'+css)
    else
      link(rel="stylesheet", href="/css/master.css")
  body !{content}
    if PROD
      each script in scripts
        script(src='/js/'+script)
    else
      script(src='/js/build.js')
    if PROD
      script
        | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        | ga('create', 'UA-23160903-4', 'auto');
        | ga('send', 'pageview');
      script
        | WebFontConfig={google:{families:["Fira+Sans::latin"]}},function(){var t=document.createElement("script")
        | t.src=("https:"==document.location.protocol?"https":"http")+"://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js",t.async=1
        | var e=document.getElementsByTagName("script")[0]
        | e.parentNode.insertBefore(t,e)}()

