@media (min-width: 480px)
  ul.columns
    margin 0
    padding 0
    columns 2
    @media (min-width: 768px)
      columns 3
    li
      margin-top 0
      position relative
      padding-left 15px
      &:before
        left 0
        content '•'
        position absolute
