.features-page
  .features
    padding = 15px
    display flex
    flex-wrap wrap
    margin -padding 0 0 -padding
    .feature
      padding padding 0 0 padding
      flex 1 0 330px
      margin-top 10px
      img
        height 3em
        float left
        margin-right 15px
      p.body
        margin 0
