form.contact-form
  input, textarea
    display block
    width 100%
    box-sizing border-box
    padding 0.5em
    margin 1em 0
  button
    margin 1em 0
    font-size 1.5em
    font-weight 100

  .form-inputs
    height 316px
    opacity 1
    transition height 0.3s ease-in-out,
               opacity 0.3s ease-in-out

  p.message
    display none
    padding 1em
    background u-gray
    border-radius 4px
    color white
    font-size 1.2em
    margin-bottom 0
    &.success
      display block

  &.success
    .form-inputs
      height 0
      opacity 0
      overflow hidden
