.gallery-page
  .collections
    .collection
      img.thumbnail
        margin-left 2%
        width (96/3)%
      a:first-child
        img.thumbnail
          margin-left 0

      h4
        margin-top 0
        font-weight 300
