menu-breakpoint = 800px

header.main-header
  .logo
    img
      width 100%

  nav.main-menu
    clearfix()

    ul.menu-items
      padding 0
      position relative

      li.menu-item
        display block
        float left
        width (100/7)%
        text-align center
        transition background-color 0.3s ease-out

        @media (max-width: menu-breakpoint)
          width 100%

        background-color u-gray
        &:nth-child(1)
        &:nth-child(3)
        &:nth-child(7)
          background-color u-green
          li.menu-item
            background-color: u-green
        &:nth-child(2)
        &:nth-child(5)
          background-color u-orange
          li.menu-item
            background-color: u-orange

        a
          color white
          text-decoration none
          font-size 12px
          display block
          padding 5px 5px
          @media (max-width: menu-breakpoint)
            padding 8px 15px

        &:hover
          background-color #333 !important

          ul.sub-menu
            visibility visible
            @media (max-width: menu-breakpoint)
              position relative
              border-top 1px solid #FFF
              border-bottom 1px solid #FFF
              padding-left 30px
              box-sizing border-box
              background #FFF
              width 100%

        ul.sub-menu
          position absolute
          z-index 50
          visibility hidden
          width (100/7)%

          li.menu-item
            float none
            text-align left
            width 100%
