.home-page
  h1
    font-weight 100
    font-size 48px
    text-align center
    text-transform uppercase

  .home-grid
    .home-grid-left, .home-grid-right
      float left
      width 45%
      box-sizing border-box

    .home-grid-left
      margin-right 10%
