.home-page
  h1
    font-weight 400
    font-size 8vw
    @media (min-width: 550px)
      font-size 44px
    text-align center
    text-transform uppercase
    color u-gray
    font-family 'Fira Sans', 'Kohinoor Devanagari', 'Trebuchet MS', sans-serif

  .home-grid
    .home-grid-left, .home-grid-right
      float left
      width 45%
      box-sizing border-box

    .home-grid-left
      margin-right 10%
