.location-finder
  form
    .form-group
      margin-bottom 5px

      input.form-control
        box-sizing border-box
        padding 20px 14px
        padding-right 50px

      button
        background none
        float right
        margin-top -34px
        margin-right 10px
        i.fa-spin
          animation-duration: 0.5s

        &.hint--top:before,
        &.hint--top:after
          left 25%

  .formated-address
    p.addr
      font-size 10px
      margin 0
