.slideshow
  .slides
    position relative
    clearfix()

    .slide
      position absolute
      z-index 10
      top 0

      visibility hidden
      opacity 0

      time = 0.3s
      trans = opacity time ease-out, transform time ease-out
      transition visibility 0s linear, trans

      &.active
        position relative

        visibility visible
        opacity 1

      img
        max-width 100%
