.slideshow
  position relative
  min-height 300px

  .slides
    position relative
    clearfix()

    .slide
      position absolute
      z-index 10
      top 0
      height 100%
      width 100%

      visibility hidden
      opacity 0

      time = 0.3s
      trans = opacityity time ease-out, transform time ease-out
      transition visibility 0s linear, trans

      &.active
        position relative

        visibility visible
        opacity 1

      img
        max-width 100%

  .controls
    position absolute
    top 50%
    z-index 90
    width 100%
    transform translateY(-50%)
    clearfix()

    .control
      &.left-control
        float left
      &.right-control
        float right

      color white
      font-size 100px
      margin 10px
      cursor pointer
      opacity 0.3
      transition opacity 0.1s ease-out
      user-select none

      .can-hover &
        &:hover
          opacity 1

  .filmstrip
    img
      width 40px
      margin-right 2px
      cursor pointer
      transition transform 0.1s ease-out
      transform scale(1), translateY(0)
      .can-hover &
        &:hover
          transform scale(1.1)

      &.active
        transform translateY(10px)
