.specs
  font-size 14px
  .spec
    h4
      margin-bottom 0
      margin-top 12px
      color u-orange
      text-transform uppercase
    dl
      margin 0
      dt
        font-style italic
      dd
        margin-left 0
      dt, dd
        display inline
