.u-grid
  box-sizing border-box

  .u-left,
  .u-right
    float left

  // Menu has 7 sections
  // align to end of first 2
  left-width = ((100/7)*2)%

  .u-left
    width left-width

  .u-right
    width 100% - left-width
