@import 'bootstrap/variables'

@import 'bootstrap/mixins/buttons'
@import 'bootstrap/buttons'

@import 'bootstrap/forms'

@import '_utils'
@import '_settings'
@import '_*'

normalize-css()
base()

body
  padding 35px
  max-width 1100px
  margin 0 auto
  padding-top 15px
  font-weight font-weight

  @media (max-width: 767px)
    padding 10px

  .frame
    clearfix()

.urbania-type, .urbania-type-wide
  font-family arial narrow, arial
  font-weight 600

.urbania-type-wide
  letter-spacing 0.1em

h2
  font-weight 100
  font-size 48px

h3
  font-weight 300
  font-size 32px

.banner
  margin-top 24px
  img
    max-width 100%

a.btn
  text-decoration none

a
  color u-green
  text-decoration none
  &:hover
    .can-hover &
      text-decoration underline
  &:visited
    color u-green

ul
  li
    line-height 1.5
    margin-top 1em

span.nowrap
  whitespace nowrap

img.retina-img
  max-width 100%
